.App {
  text-align: center;
  display: inline-block;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image {
  display: inline-block;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1px solid  black ;

}