.App-header {
  height: 70px;
  padding: 20px;
}



.imageContainer {
  text-align: center;
  align-items: center auto;
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 1em;
  margin-left: auto;
}


.image {
  text-align: center;
  height: 100px;
  width: 100px;
  margin-left: auto;
  padding: 1em;
  border: 1px solid  black ;
  vertical-align:top;
}